body {
	background-color: #8E8E8E;

}

button {
    float: right;

    margin: 1.5rem 0 1.5rem 0;
}

.question_block {
	width: 750px;
	margin: 2rem 0 2rem 0;
	padding:0;
}

.indexQuestion {
	font-weight: 700;
	font-size: 1.2rem;

}

.StateQuestion {
	font-size: 1rem;

}

.response_block{
	background-color: #BCAA89;
	border: 2px dashed #fff;

}

