body {
	background: #13225c;

}

button {
    float: left;

    margin: 1.5rem 0 1.5rem 0;
}

/******************************/
/********** FRONT *************/
/******************************/

.question_block {
	width: 750px;
	margin: 2rem 0 2rem 0;
	padding:0;
}

.indexQuestion {
	font-weight: 700;
	font-size: 1.2rem;

}

.StateQuestion {
	font-size: 1rem;

}

.response_block{
	background-color: #fff;
	border: 2px dashed #fff;

}
.btnStyle{
	background-color: rgba(29,185,241.59);
}

/******************************/
/********** BACK **************/
/******************************/

.sidebar{
	position: fixed;
	background-color: #000;
	height: 100%;
	border-right: 1px solid #fff;
}

.content{
	position: absolute;
	right: 0;
}
nav{
	margin-top: 100px;
}


/******************************/
/********** LOGIN *************/
/******************************/

